<h1>Listing purchase_orders</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Important info</th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody id="purchase_orders">
    <!-- Sets up a js array of objects and binds the attrs -->
    <% purchase_orders_template = capture do %>
      <tr>
        <td data-attr="state"></td>
        <td data-attr="important_info"></td>
        <td data-attr="order_id"></td>
      </tr>
    <% end %>
    <%= bind_collection(@purchase_orders, purchase_orders_template) %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase order', new_purchase_order_path %>
